# Group By & Aggregation

In [1]:
import pandas as pd

In [2]:
housing_df = pd.read_csv('G:\Youtube\Pandas\example_files\housing_price_dataset.csv')

housing_df.head() # Inspect the dataframe

   SquareFeet  Bedrooms  Bathrooms Neighborhood  YearBuilt          Price
0        2126         4          1        Rural       1969  215355.283618
1        2459         3          2        Rural       1980  195014.221626
2        1860         2          1       Suburb       1970  306891.012076
3        2294         2          1        Urban       1996  206786.787153
4        2130         5          2       Suburb       2001  272436.239065

### Group By

In [3]:
room_grouped_data = housing_df.groupby('Bedrooms')

In [4]:
room_grouped_data

In [5]:
for bedroom, split_df in room_grouped_data:
    print('Bedrooms: ', bedroom)
    print(split_df)

Bedrooms:  2
       SquareFeet  Bedrooms  Bathrooms Neighborhood  YearBuilt          Price
2            1860         2          1       Suburb       1970  306891.012076
3            2294         2          1        Urban       1996  206786.787153
5            2095         2          3       Suburb       2020  198208.803907
6            2724         2          1       Suburb       1993  343429.319110
12           1330         2          2       Suburb       1992  132172.392617
...           ...       ...        ...          ...        ...            ...
49965        2520         2          3        Rural       1961  374004.851836
49983        2082         2          2        Rural       1963  268700.034119
49984        2967         2          3        Urban       1960  345653.603641
49993        1215         2          3        Urban       2017  126052.390562
49996        2854         2          2       Suburb       1988  374507.656727

[12436 rows x 6 columns]
Bedrooms:  3
       SquareFeet  Bedrooms  Bathrooms Neighborhood  YearBuilt          Price
1            2459         3          2        Rural       1980  195014.221626
11           2238         3          3       Suburb       1987  253358.645002
21           2332         3          3        Rural       1978  263954.154063
29           1955         3          1        Rural       2014  240976.551767
32           1459         3          2        Rural       2006   77493.931439
...           ...       ...        ...          ...        ...            ...
49977        1517         3          3        Rural       2002  158852.084178
49979        2308         3          3        Rural       1961  290933.139475
49980        1224         3          1       Suburb       1991  169542.273161
49985        1245         3          2       Suburb       1984  139553.846928
49989        2613         3          2       Suburb       1992  233026.843614

[12661 rows x 6 columns]
Bedrooms:  4
       SquareFeet  Bedrooms  Bathrooms Neighborhood  YearBuilt          Price
0            2126         4          1        Rural       1969  215355.283618
7            2044         4          3        Rural       1957  184992.321268
8            2638         4          3        Urban       1959  377998.588152
13           2482         4          3       Suburb       1989  231157.027676
14           1087         4          1        Urban       1976  118393.823163
...           ...       ...        ...          ...        ...            ...
49973        2484         4          3       Suburb       1953  327618.187122
49978        1439         4          1        Rural       2018  217151.521381
49981        1564         4          3        Rural       2019  225878.769455
49987        2237         4          1        Rural       2011  227359.621341
49992        1818         4          1        Rural       1983  163683.675434

[12435 rows x 6 columns]
Bedrooms:  5
       SquareFeet  Bedrooms  Bathrooms Neighborhood  YearBuilt          Price
4            2130         5          2       Suburb       2001  272436.239065
9            1121         5          2        Urban       2004   95961.926014
10           1466         5          3       Suburb       1951  191113.768679
16           2123         5          2        Rural       1956  190773.148563
18           2687         5          1        Urban       1979  239222.667797
...           ...       ...        ...          ...        ...            ...
49994        2426         5          2        Urban       1950  331497.091307
49995        1282         5          3        Rural       1975  100080.865895
49997        2979         5          3       Suburb       1962  384110.555590
49998        2596         5          2        Rural       1984  380512.685957
49999        1572         5          3        Rural       2011  221618.583218

[12468 rows x 6 columns]

### Group By on multipile features/columns

In [9]:
neiborhood_bedroom_grouped_data = housing_df.groupby(['Neighborhood', 'Bedrooms'])

In [10]:
for key, split_data in neiborhood_bedroom_grouped_data:
    #print('Neighborhood: ', neighborhood)
    print('Key: ', key)
    print(split_data)

Key:  ('Rural', 2)
       SquareFeet  Bedrooms  Bathrooms Neighborhood  YearBuilt          Price
23           1343         2          3        Rural       2013  151733.922490
25           2437         2          1        Rural       2004  276162.861805
55           1831         2          2        Rural       2000  190058.892900
57           2154         2          1        Rural       2015  166810.388651
72           1564         2          2        Rural       1983  163053.392050
...           ...       ...        ...          ...        ...            ...
49908        2281         2          2        Rural       1992  260102.244052
49918        2391         2          3        Rural       2001  306588.550647
49938        2262         2          3        Rural       1964  223398.780619
49965        2520         2          3        Rural       1961  374004.851836
49983        2082         2          2        Rural       1963  268700.034119

[4118 rows x 6 columns]
Key:  ('Rural', 3)
       SquareFeet  Bedrooms  Bathrooms Neighborhood  YearBuilt          Price
1            2459         3          2        Rural       1980  195014.221626
21           2332         3          3        Rural       1978  263954.154063
29           1955         3          1        Rural       2014  240976.551767
32           1459         3          2        Rural       2006   77493.931439
50           1957         3          2        Rural       1992  304197.579840
...           ...       ...        ...          ...        ...            ...
49934        1826         3          2        Rural       1965  172116.755363
49936        2522         3          1        Rural       2010  214907.184511
49952        2402         3          3        Rural       1966  288001.379620
49977        1517         3          3        Rural       2002  158852.084178
49979        2308         3          3        Rural       1961  290933.139475

[4173 rows x 6 columns]
Key:  ('Rural', 4)
       SquareFeet  Bedrooms  Bathrooms Neighborhood  YearBuilt          Price
0            2126         4          1        Rural       1969  215355.283618
7            2044         4          3        Rural       1957  184992.321268
19           1130         4          3        Rural       1962  143050.201782
27           1385         4          3        Rural       1996   88030.541853
30           1276         4          1        Rural       1965  104747.334589
...           ...       ...        ...          ...        ...            ...
49969        2683         4          1        Rural       1958  306619.288962
49978        1439         4          1        Rural       2018  217151.521381
49981        1564         4          3        Rural       2019  225878.769455
49987        2237         4          1        Rural       2011  227359.621341
49992        1818         4          1        Rural       1983  163683.675434

[4200 rows x 6 columns]
Key:  ('Rural', 5)
       SquareFeet  Bedrooms  Bathrooms Neighborhood  YearBuilt          Price
16           2123         5          2        Rural       1956  190773.148563
26           1805         5          1        Rural       2002  243985.205472
36           1747         5          3        Rural       1982  228683.226996
44           1699         5          1        Rural       1960  156313.594195
61           1020         5          1        Rural       1983  220053.860357
...           ...       ...        ...          ...        ...            ...
49971        2198         5          1        Rural       2020  294703.969855
49976        2707         5          2        Rural       1958  299749.717117
49995        1282         5          3        Rural       1975  100080.865895
49998        2596         5          2        Rural       1984  380512.685957
49999        1572         5          3        Rural       2011  221618.583218

[4185 rows x 6 columns]
Key:  ('Suburb', 2)
       SquareFeet  Bedrooms  Bathrooms Neighborhood  YearBuilt          Price
2            1860         2          1       Suburb       1970  306891.012076
5            2095         2          3       Suburb       2020  198208.803907
6            2724         2          1       Suburb       1993  343429.319110
12           1330         2          2       Suburb       1992  132172.392617
15           2396         2          2       Suburb       1993  267377.399686
...           ...       ...        ...          ...        ...            ...
49871        2756         2          1       Suburb       2007  229492.673278
49880        2539         2          2       Suburb       2018  331888.198791
49890        1480         2          3       Suburb       1973  220245.093700
49930        2426         2          1       Suburb       2020  255082.182697
49996        2854         2          2       Suburb       1988  374507.656727

[4137 rows x 6 columns]
Key:  ('Suburb', 3)
       SquareFeet  Bedrooms  Bathrooms Neighborhood  YearBuilt          Price
11           2238         3          3       Suburb       1987  253358.645002
33           2337         3          3       Suburb       2008  331851.081669
41           1510         3          2       Suburb       2002  156928.014717
45           1975         3          3       Suburb       2016  279764.371040
46           2806         3          3       Suburb       1962  366494.480602
...           ...       ...        ...          ...        ...            ...
49970        1102         3          3       Suburb       1973  143036.715541
49974        2771         3          2       Suburb       2007  322819.127538
49980        1224         3          1       Suburb       1991  169542.273161
49985        1245         3          2       Suburb       1984  139553.846928
49989        2613         3          2       Suburb       1992  233026.843614

[4306 rows x 6 columns]
Key:  ('Suburb', 4)
       SquareFeet  Bedrooms  Bathrooms Neighborhood  YearBuilt          Price
13           2482         4          3       Suburb       1989  231157.027676
17           1871         4          2       Suburb       1977  172989.804901
22           1769         4          1       Suburb       1963  148310.620168
40           2082         4          2       Suburb       1966  164855.987775
60           1646         4          3       Suburb       1994   91423.619646
...           ...       ...        ...          ...        ...            ...
49888        2554         4          2       Suburb       1959  278645.939569
49911        2433         4          3       Suburb       1987  308851.842649
49917        1649         4          3       Suburb       1969  262961.204791
49956        1596         4          2       Suburb       1979  173954.400042
49973        2484         4          3       Suburb       1953  327618.187122

[4160 rows x 6 columns]
Key:  ('Suburb', 5)
       SquareFeet  Bedrooms  Bathrooms Neighborhood  YearBuilt          Price
4            2130         5          2       Suburb       2001  272436.239065
10           1466         5          3       Suburb       1951  191113.768679
53           2590         5          2       Suburb       1957  328501.801546
58           2508         5          3       Suburb       2007  352932.162464
62           1840         5          3       Suburb       1961  216148.208454
...           ...       ...        ...          ...        ...            ...
49986        2542         5          3       Suburb       1952  247812.227684
49988        1927         5          3       Suburb       1995  258085.651326
49990        2724         5          2       Suburb       1978  395026.724290
49991        1952         5          3       Suburb       1981  200237.485880
49997        2979         5          3       Suburb       1962  384110.555590

[4118 rows x 6 columns]
Key:  ('Urban', 2)
       SquareFeet  Bedrooms  Bathrooms Neighborhood  YearBuilt          Price
3            2294         2          1        Urban       1996  206786.787153
24           2515         2          3        Urban       2013  307961.107382
35           1252         2          1        Urban       1993  127932.756780
42           2705         2          1        Urban       1971  282457.861374
49           1686         2          3        Urban       1994  249148.344686
...           ...       ...        ...          ...        ...            ...
49946        2605         2          3        Urban       1951  251137.987237
49949        2854         2          1        Urban       1980  244392.697894
49964        1516         2          2        Urban       1958   92932.625267
49984        2967         2          3        Urban       1960  345653.603641
49993        1215         2          3        Urban       2017  126052.390562

[4181 rows x 6 columns]
Key:  ('Urban', 3)
       SquareFeet  Bedrooms  Bathrooms Neighborhood  YearBuilt          Price
39           1474         3          3        Urban       1959  184819.961190
47           1189         3          3        Urban       2007  244539.281689
54           2267         3          2        Urban       1989  215867.418985
69           1241         3          2        Urban       1985  199373.182099
75           1091         3          3        Urban       2012  194294.001842
...           ...       ...        ...          ...        ...            ...
49887        1807         3          1        Urban       2009  113218.634071
49900        2054         3          1        Urban       1995  239800.132394
49913        1774         3          2        Urban       2020  234374.138187
49953        1891         3          2        Urban       1973  194073.920689
49967        2173         3          2        Urban       2016  245502.709315

[4182 rows x 6 columns]
Key:  ('Urban', 4)
       SquareFeet  Bedrooms  Bathrooms Neighborhood  YearBuilt          Price
8            2638         4          3        Urban       1959  377998.588152
14           1087         4          1        Urban       1976  118393.823163
20           2685         4          3        Urban       1999  405523.828317
68           1013         4          3        Urban       2002  164858.186949
70           1776         4          2        Urban       2014  181245.446744
...           ...       ...        ...          ...        ...            ...
49950        1218         4          3        Urban       1994  113192.100786
49954        2217         4          2        Urban       1960  172276.418804
49961        1003         4          2        Urban       2009   96169.096273
49966        2249         4          2        Urban       1950  266233.929673
49972        2009         4          1        Urban       2000  251924.652151

[4075 rows x 6 columns]
Key:  ('Urban', 5)
       SquareFeet  Bedrooms  Bathrooms Neighborhood  YearBuilt          Price
9            1121         5          2        Urban       2004   95961.926014
18           2687         5          1        Urban       1979  239222.667797
28           2215         5          1        Urban       1952  282908.981694
43           2499         5          1        Urban       2021  287591.672822
56           2528         5          1        Urban       1969  259751.154446
...           ...       ...        ...          ...        ...            ...
49940        2093         5          3        Urban       1962  202331.765141
49955        2063         5          2        Urban       1966  227163.165257
49962        2825         5          2        Urban       2020  328678.917538
49975        2057         5          3        Urban       1973  194964.941703
49994        2426         5          2        Urban       1950  331497.091307

[4165 rows x 6 columns]

### Aggregation on groupby

In [11]:
neiborhood_bedroom_grouped_data['Price'].count() # Helps us to check the dataset's quality

Neighborhood  Bedrooms
Rural         2           4118
              3           4173
              4           4200
              5           4185
Suburb        2           4137
              3           4306
              4           4160
              5           4118
Urban         2           4181
              3           4182
              4           4075
              5           4165
Name: Price, dtype: int64

In [12]:
neiborhood_bedroom_grouped_data['Price'].mean() # Basic analysis of housing price

Neighborhood  Bedrooms
Rural         2           218323.916816
              3           219053.374366
              4           227774.554979
              5           231112.603644
Suburb        2           216300.128219
              3           220397.857293
              4           224609.500078
              5           231776.727619
Urban         2           220050.010346
              3           223737.666243
              4           230086.563256
              5           234894.984959
Name: Price, dtype: float64

In [13]:
neiborhood_bedroom_grouped_data['Price'].max()

Neighborhood  Bedrooms
Rural         2           452870.618989
              3           427295.404603
              4           449315.843749
              5           492195.259972
Suburb        2           455088.643110
              3           463977.238482
              4           445343.409387
              5           482577.163405
Urban         2           470989.679074
              3           468493.877841
              4           462557.562958
              5           476671.733263
Name: Price, dtype: float64