# Read & Write Different types of Files in Pandas

In [1]:
import pandas as pd

## CSV File

### Read CSV & create Dataframe

In [2]:
housing_price_csv = 'G:\Youtube\Pandas\example_files\housing_price_dataset.csv'
housing_price_df = pd.read_csv(housing_price_csv)

housing_price_df.head()

   SquareFeet  Bedrooms  Bathrooms Neighborhood  YearBuilt          Price
0        2126         4          1        Rural       1969  215355.283618
1        2459         3          2        Rural       1980  195014.221626
2        1860         2          1       Suburb       1970  306891.012076
3        2294         2          1        Urban       1996  206786.787153
4        2130         5          2       Suburb       2001  272436.239065

### Write to CSV

In [3]:
target_csv_path = 'G:\Youtube\Pandas\example_files\housing_price.csv'
housing_price_df.to_csv(target_csv_path)

## Excel File

### Read Excel & create Dataframe

In [4]:
orders_data_excel = 'G:\Youtube\Pandas\example_files\orders_data.xlsx'
orders_df = pd.read_excel(orders_data_excel)

orders_df.head()

,order_no,order_date,buyer,ship_city,ship_state,sku,description,quantity,item_total,shipping_fee,cod,order_status
0,405-9763961-5211537,"Sun, 18 Jul, 2021, 10:38 pm IST",Mr.,"CHANDIGARH,",CHANDIGARH,SKU: 2X-3C0F-KNJE,100% Leather Elephant Shaped Piggy Coin Bank |...,1,₹449.00,NaN,NaN,Delivered to buyer
1,404-3964908-7850720,"Tue, 19 Oct, 2021, 6:05 pm IST",Minam,"PASIGHAT,",ARUNACHAL PRADESH,SKU: DN-0WDX-VYOT,Women's Set of 5 Multicolor Pure Leather Singl...,1,₹449.00,₹60.18,NaN,Delivered to buyer
2,171-8103182-4289117,"Sun, 28 Nov, 2021, 10:20 pm IST",yatipertin,"PASIGHAT,",ARUNACHAL PRADESH,SKU: DN-0WDX-VYOT,Women's Set of 5 Multicolor Pure Leather Singl...,1,₹449.00,₹60.18,NaN,Delivered to buyer
3,405-3171677-9557154,"Wed, 28 Jul, 2021, 4:06 am IST",aciya,"DEVARAKONDA,",TELANGANA,SKU: AH-J3AO-R7DN,Pure 100% Leather Block Print Rectangular Jewe...,1,NaN,NaN,Cash On Delivery,Delivered to buyer
4,402-8910771-1215552,"Tue, 28 Sept, 2021, 2:50 pm IST",Susmita,"MUMBAI,",MAHARASHTRA,SKU: KL-7WAA-Z82I,Pure Leather Sling Bag with Multiple Pockets a...,1,"₹1,099.00",₹84.96,NaN,Delivered to buyer

### Write to Excel

In [5]:
target_excel_path = 'G:\Youtube\Pandas\example_files\orders.xlsx'
orders_df.to_excel(target_excel_path)

## JSON File

### Read Json file & create Dataframe

In [6]:
iris_dataset_json = "G:\Youtube\Pandas\example_files\iris.json"
iris_df = pd.read_json(iris_dataset_json)

iris_df.head()

   sepalLength  sepalWidth  petalLength  petalWidth species
0          5.1         3.5          1.4         0.2  setosa
1          4.9         3.0          1.4         0.2  setosa
2          4.7         3.2          1.3         0.2  setosa
3          4.6         3.1          1.5         0.2  setosa
4          5.0         3.6          1.4         0.2  setosa

### Write to Json

In [7]:
target_json_path = "G:\Youtube\Pandas\example_files\iris_json.json"
iris_df.to_json(target_json_path)

## Parquet File

### Read Parquet file & create Dataframe

In [ ]:
pip install pyarrow #You can install fastparquet package as well

In [8]:
iris_dataset_parquet = 'G:\Youtube\Pandas\example_files\iris.parquet'
iris_df = pd.read_parquet(iris_dataset_parquet)

iris_df.head()

   id  sepal_length  sepal_width  petal_length  petal_width species
0   1           5.1          3.5           1.4          0.2  setosa
1   2           4.9          3.0           1.4          0.2  setosa
2   3           4.7          3.2           1.3          0.2  setosa
3   4           4.6          3.1           1.5          0.2  setosa
4   5           5.0          3.6           1.4          0.2  setosa

### Write to Parquet

In [9]:
target_parquet_path = 'G:\Youtube\Pandas\example_files\iris_parquet.parquet'
iris_df.to_parquet(target_parquet_path)